
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
__pycache__/key_bindings.cpython-310.pyc
Cherry-Edit.spec
__pycache__/Cherry-Edit.cpython-310.pyc
build/Cherry-Edit/Analysis-00.toc
build/Cherry-Edit/base_library.zip
build/Cherry-Edit/Cherry-Edit.exe.manifest
build/Cherry-Edit/Cherry-Edit.pkg
build/Cherry-Edit/EXE-00.toc
.gitignore
build/Cherry-Edit/PKG-00.toc
build/Cherry-Edit/PYZ-00.pyz
build/Cherry-Edit/PYZ-00.toc
build/Cherry-Edit/Tree-00.toc
.gitignore
build/Cherry-Edit/Tree-01.toc
build/Cherry-Edit/Tree-02.toc
build/Cherry-Edit/warn-Cherry-Edit.txt
build/Cherry-Edit/xref-Cherry-Edit.html
dist/Cherry-Edit.exe
updater.spec
__pycache__/updater.cpython-310.pyc
build/updater/Analysis-00.toc
build/updater/base_library.zip
build/updater/EXE-00.toc
build/updater/PKG-00.toc
build/updater/PYZ-00.pyz
build/updater/PYZ-00.toc
build/updater/Tree-00.toc
build/updater/Tree-01.toc
build/updater/Tree-02.toc
build/updater/updater.exe.manifest
build/updater/updater.pkg
build/updater/warn-updater.txt
build/updater/xref-updater.html
dist/updater.exe
dist/Cherry-Edit-Installer.exe
dist/Cherry-Edit.exe.notanexecutable
dist/updater.exe.notanexecutable
